@media only screen and (max-width: 1150px) {
    nav #navul{
        display: none;
    }
    #togglers{
        display: block;
    }
    #crossNavToggler{
        display: none;
    }
    #mainsection{
        width: 100%;
        text-align: center;
    }
    #maintwb{
       width: 100%;
       text-align: center;
    }
    #imgdiv{
        display: none;
    }    
  }
@media only screen and (max-width: 850px) {
    #auTop {
        flex-direction: column;
    }
    #aubottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .whyIinfluencerMarketing{
        flex-direction: column;
    }
    .whyIinfluencerMarketing img{
        width: 50px;
    }
    .footerDescCont{
        flex-direction: column;
    }
  }